 .productCard{
      
      
      margin: 2rem auto 4rem;
 
    footer{
        margin: 1rem 0;
    }
    button{
        border:none;
        background-color: #0e3777;
        color:#000000;
        padding: 1rem 1rem;
        border-radius: 5px;
        font-size:1.5rem;
    }
    
 }

 .price{
   font-size:1.25rem;
   font-weight: 200;
   color:#8a9bb3;
   margin: 0.5rem 0;
 }

 .description{
    font-size: 1rem;
    color:#5b6470;

 }

 .name{
     font-size: 2.5rem;
     font-weight: 800;
     color:#001c49;
 }

  
 @media (min-width:600px){
    .productCard{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .price{
        font-size:1.25rem;
        font-weight: 200;
        color:#8a9bb3;
        margin: 0.5rem 0;
      }
     
      .description{
         font-size: 1rem;
         color:#5b6470;
     
      }
     
      .name{
          font-size: 2.5rem;
          font-weight: 800;
          color:#001c49;
      }
}